In [43]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

#import numpy as np # linear algebra
#import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
 #       print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
import pandas as pd
read_csv = pd.read_csv("/content/drive/MyDrive/Datasets/student_data.csv")
read_csv.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [46]:
dataset = read_csv
dataset.shape

(395, 33)

In [47]:
dataset.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

# Hot-Encoding data

In [48]:
dataset.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [49]:
dataset['sex'].value_counts()

F    208
M    187
Name: sex, dtype: int64

In [50]:
dataset['address'].value_counts()

U    307
R     88
Name: address, dtype: int64

In [51]:
dataset['Mjob'].value_counts()

other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64

In [52]:
dataset['Fjob'].value_counts()

other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64

In [53]:
dataset['Pstatus'].value_counts()

T    354
A     41
Name: Pstatus, dtype: int64

### dropping "un-necessary" columns

In [54]:
dataset.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [55]:
dataset_dropped =  dataset.drop(["Medu","Fedu",'reason', 'guardian', 'traveltime','failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'], axis =1)
dataset_dropped

    school sex  age address famsize Pstatus      Mjob      Fjob  studytime
0       GP   F   18       U     GT3       A   at_home   teacher          2
1       GP   F   17       U     GT3       T   at_home     other          2
2       GP   F   15       U     LE3       T   at_home     other          2
3       GP   F   15       U     GT3       T    health  services          3
4       GP   F   16       U     GT3       T     other     other          2
..     ...  ..  ...     ...     ...     ...       ...       ...        ...
390     MS   M   20       U     LE3       A  services  services          2
391     MS   M   17       U     LE3       T  services  services          1
392     MS   M   21       R     GT3       T     other     other          1
393     MS   M   18       R     LE3       T  services     other          1
394     MS   M   19       U     LE3       T     other   at_home          1

[395 rows x 9 columns]

In [56]:
dataset_dropped.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'studytime'],
      dtype='object')

# Hot Encoding data

In [57]:
one_encoded_data = pd.get_dummies(data = dataset_dropped, columns = ['school', 'sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'studytime'])

one_encoded_data

,age,address,school_GP,school_MS,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,...,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,studytime_1,studytime_2,studytime_3,studytime_4
0,18,U,1,0,1,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,17,U,1,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,15,U,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
3,15,U,1,0,1,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
4,16,U,1,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,U,0,1,0,1,0,1,1,0,...,0,0,0,0,1,0,0,1,0,0
391,17,U,0,1,0,1,0,1,0,1,...,0,0,0,0,1,0,1,0,0,0
392,21,R,0,1,0,1,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0
393,18,R,0,1,0,1,0,1,0,1,...,0,0,0,1,0,0,1,0,0,0
394,19,U,0,1,0,1,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0

# To Predict Address lol!

let U = 1, R = 0

In [58]:
one_encoded_data['address'] = one_encoded_data['address'].replace(['U','R'],[1,0])
new_Data = one_encoded_data
new_Data.shape

(395, 24)

## X_data are the festures(parameters) used to predict Y_data(result)

In [59]:
X_data = new_Data.drop(['address'],axis =1)
X_data.shape

(395, 23)

In [60]:
Y_data = new_Data['address']
Y_data.shape

(395,)

In [61]:
# Spliting arrays or matrices into random train and test subsets
from sklearn.model_selection import train_test_split
# i.e. 70 % training dataset and 30 % test datasets
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size = 0.30)

In [62]:
x_train.shape

(276, 23)

In [63]:
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(x_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE INITIAL MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE INITIAL MODEL:  0.7394957983193278

## Now we reduce the data for the ML model

In [64]:
X_data.shape

(395, 23)

### taking random rows for training

In [65]:
X_data_reduced = X_data[20:50]
X_data_reduced.shape

(30, 23)

In [66]:
Y_data_reduced = Y_data[20:50]
Y_data_reduced.shape

(30,)

ml part for the reduced dataset

In [67]:
x_train, x_test, y_train, y_test = train_test_split(X_data_reduced, Y_data_reduced, test_size = 0.30)

from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(x_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE REDUCED MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE REDUCED MODEL:  0.8888888888888888

### LMAO, overfitting be like... Anyway

# using SDV to generate synthetic data

In [68]:
!pip install ctgan

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ctgan in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.0.2)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan) (21.3)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.11.0+cu113)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (0.12.0+cu113)
Requirement already satisfied: rdt<0.7,>=0.6.2 in /usr/local/lib/python3.7/dist-packages (from ctgan) (0.6.4)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.21.6)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.3.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging<22,>=20->ctgan) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2,>=1.1.3->ctgan) (1.15.0)
Requirement already satisfied: scipy<1.8,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->ctgan) (1.7.3)
Requirement already satisfied: psutil<6,>=5.7 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->ctgan) (5.9.1)
Requirement already satisfied: pyyaml<6,>=5.4.1 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->ctgan) (5.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (1.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2,>=1.8.0->ctgan) (4.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (2.23.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (3.0.4)

In [69]:
ReducedData = pd.concat([X_data_reduced, Y_data_reduced], axis =1)
#ReducedData

In [70]:
from ctgan import CTGANSynthesizer

ctgan = CTGANSynthesizer(verbose=True)
ctgan.fit(ReducedData, X_data_reduced, epochs = 300)

Epoch 1, Loss G:  0.6520,Loss D:  0.0003
Epoch 2, Loss G:  0.6666,Loss D: -0.0527

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:146: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  .fit(X)
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 3, Loss G:  0.6309,Loss D: -0.0554
Epoch 4, Loss G:  0.6224,Loss D: -0.0797
Epoch 5, Loss G:  0.5890,Loss D: -0.1588
Epoch 6, Loss G:  0.5576,Loss D: -0.1483
Epoch 7, Loss G:  0.5490,Loss D: -0.1739
Epoch 8, Loss G:  0.4715,Loss D: -0.2348
Epoch 9, Loss G:  0.4376,Loss D: -0.2438
Epoch 10, Loss G:  0.4047,Loss D: -0.2263
Epoch 11, Loss G:  0.3507,Loss D: -0.2427
Epoch 12, Loss G:  0.2742,Loss D: -0.3083
Epoch 13, Loss G:  0.1658,Loss D: -0.3291
Epoch 14, Loss G:  0.1128,Loss D: -0.3167
Epoch 15, Loss G:  0.0640,Loss D: -0.1984
Epoch 16, Loss G: -0.1146,Loss D: -0.3379
Epoch 17, Loss G: -0.2121,Loss D: -0.2849
Epoch 18, Loss G: -0.2958,Loss D: -0.2215
Epoch 19, Loss G: -0.3204,Loss D: -0.1634
Epoch 20, Loss G: -0.5301,Loss D: -0.1521
Epoch 21, Loss G: -0.6847,Loss D: -0.0194
Epoch 22, Loss G: -0.8132,Loss D: -0.1669
Epoch 23, Loss G: -0.8210,Loss D: -0.0284
Epoch 24, Loss G: -0.9535,Loss D: -0.0369
Epoch 25, Loss G: -0.9425,Loss D:  0.0459
Epoch 26, Loss G: -0.9559,Loss D:  0.1232
Epoch 27, Loss G: -0.8177,Loss D:  0.1201
Epoch 28, Loss G: -1.0621,Loss D:  0.2453
Epoch 29, Loss G: -0.9135,Loss D:  0.2677
Epoch 30, Loss G: -1.0249,Loss D:  0.2325
Epoch 31, Loss G: -1.0094,Loss D:  0.2567
Epoch 32, Loss G: -0.9212,Loss D:  0.1808
Epoch 33, Loss G: -0.9201,Loss D:  0.1166
Epoch 34, Loss G: -0.6977,Loss D:  0.2764
Epoch 35, Loss G: -0.8221,Loss D:  0.1403
Epoch 36, Loss G: -0.7797,Loss D:  0.1020
Epoch 37, Loss G: -0.8805,Loss D:  0.0977
Epoch 38, Loss G: -0.9054,Loss D:  0.0485
Epoch 39, Loss G: -0.7702,Loss D:  0.2214
Epoch 40, Loss G: -0.7915,Loss D:  0.1264
Epoch 41, Loss G: -0.8538,Loss D:  0.0824
Epoch 42, Loss G: -0.8946,Loss D:  0.1323
Epoch 43, Loss G: -0.7080,Loss D:  0.1239
Epoch 44, Loss G: -0.8078,Loss D:  0.0464
Epoch 45, Loss G: -0.6969,Loss D:  0.1788
Epoch 46, Loss G: -0.7442,Loss D:  0.1361
Epoch 47, Loss G: -0.7087,Loss D:  0.0748
Epoch 48, Loss G: -0.7198,Loss D:  0.1675
Epoch 49, Loss G: -0.6942,Loss D:  0.0498
Epoch 50, Loss G: -0.8749,Loss D:  0.1727
Epoch 51, Loss G: -0.8225,Loss D:  0.1136
Epoch 52, Loss G: -0.7490,Loss D:  0.1261
Epoch 53, Loss G: -0.7978,Loss D:  0.1580
Epoch 54, Loss G: -0.6712,Loss D:  0.1248
Epoch 55, Loss G: -0.6460,Loss D:  0.1419
Epoch 56, Loss G: -0.6739,Loss D: -0.0669
Epoch 57, Loss G: -0.7441,Loss D:  0.0211
Epoch 58, Loss G: -0.7727,Loss D:  0.1046
Epoch 59, Loss G: -0.7848,Loss D:  0.0400
Epoch 60, Loss G: -0.8653,Loss D:  0.0212
Epoch 61, Loss G: -0.8005,Loss D:  0.0152
Epoch 62, Loss G: -0.8636,Loss D: -0.1225
Epoch 63, Loss G: -0.8764,Loss D:  0.1120
Epoch 64, Loss G: -0.7611,Loss D:  0.0715
Epoch 65, Loss G: -0.7473,Loss D:  0.1409
Epoch 66, Loss G: -0.7682,Loss D:  0.1863
Epoch 67, Loss G: -0.8472,Loss D:  0.1055
Epoch 68, Loss G: -0.6868,Loss D:  0.1416
Epoch 69, Loss G: -0.7524,Loss D:  0.0352
Epoch 70, Loss G: -0.7992,Loss D:  0.0311
Epoch 71, Loss G: -0.6760,Loss D:  0.1865
Epoch 72, Loss G: -0.6479,Loss D:  0.0727
Epoch 73, Loss G: -0.7098,Loss D:  0.0985
Epoch 74, Loss G: -0.6253,Loss D:  0.1388
Epoch 75, Loss G: -0.5142,Loss D: -0.0251
Epoch 76, Loss G: -0.6536,Loss D:  0.0193
Epoch 77, Loss G: -0.6513,Loss D: -0.0481
Epoch 78, Loss G: -0.6222,Loss D: -0.0460
Epoch 79, Loss G: -0.4411,Loss D:  0.0375
Epoch 80, Loss G: -0.5135,Loss D:  0.0784
Epoch 81, Loss G: -0.5088,Loss D: -0.0729
Epoch 82, Loss G: -0.5453,Loss D: -0.0584
Epoch 83, Loss G: -0.5858,Loss D: -0.0789
Epoch 84, Loss G: -0.4149,Loss D: -0.0974
Epoch 85, Loss G: -0.4844,Loss D: -0.0174
Epoch 86, Loss G: -0.4604,Loss D: -0.0241
Epoch 87, Loss G: -0.6781,Loss D:  0.0892
Epoch 88, Loss G: -0.5333,Loss D: -0.0043
Epoch 89, Loss G: -0.5460,Loss D:  0.0123
Epoch 90, Loss G: -0.6799,Loss D:  0.0071
Epoch 91, Loss G: -0.6143,Loss D:  0.0057
Epoch 92, Loss G: -0.5564,Loss D:  0.1347
Epoch 93, Loss G: -0.5178,Loss D: -0.0145
Epoch 94, Loss G: -0.4835,Loss D: -0.0025
Epoch 95, Loss G: -0.5649,Loss D: -0.0112
Epoch 96, Loss G: -0.5821,Loss D: -0.0439
Epoch 97, Loss G: -0.4706,Loss D:  0.0499
Epoch 98, Loss G: -0.5863,Loss D: -0.0053
Epoch 99, Loss G: -0.5177,Loss D:  0.2117
Epoch 100, Loss G: -0.3866,Loss D:  0.0773
Epoch 101, Loss G: -0.5555,Loss D:  0.0804
Epoch 102, Loss G: -0.3877,Loss D:  0.0884
Epoch 103, Loss G: -0.3911,Loss D: -0.1142
Epoch 104, Loss G: -0.4010,Loss D: -0.0457
Epoch 105, Loss G: -0.4173,Loss D: -0.0616
Epoch 106, Loss G: -0.4837,Loss D: -0.0605
Epoch 107, Loss G: -0.4405,Loss D: -0.1290
Epoch 108, Loss G: -0.3027,Loss D: -0.1322
Epoch 109, Loss G: -0.5597,Loss D: -0.0301
Epoch 110, Loss G: -0.4762,Loss D: -0.1916
Epoch 111, Loss G: -0.6017,Loss D: -0.0855
Epoch 112, Loss G: -0.5840,Loss D:  0.0283
Epoch 113, Loss G: -0.5425,Loss D:  0.0119
Epoch 114, Loss G: -0.5946,Loss D:  0.0726
Epoch 115, Loss G: -0.6058,Loss D:  0.0252
Epoch 116, Loss G: -0.5129,Loss D: -0.0053
Epoch 117, Loss G: -0.4484,Loss D:  0.1272
Epoch 118, Loss G: -0.6125,Loss D:  0.0238
Epoch 119, Loss G: -0.5510,Loss D: -0.0940
Epoch 120, Loss G: -0.6705,Loss D:  0.0740
Epoch 121, Loss G: -0.5417,Loss D: -0.1303
Epoch 122, Loss G: -0.5784,Loss D:  0.0459
Epoch 123, Loss G: -0.6002,Loss D:  0.0006
Epoch 124, Loss G: -0.5440,Loss D: -0.1067
Epoch 125, Loss G: -0.5199,Loss D:  0.0629
Epoch 126, Loss G: -0.6125,Loss D:  0.0083
Epoch 127, Loss G: -0.5758,Loss D: -0.0342
Epoch 128, Loss G: -0.5357,Loss D:  0.0444
Epoch 129, Loss G: -0.5850,Loss D: -0.0730
Epoch 130, Loss G: -0.5671,Loss D: -0.0099
Epoch 131, Loss G: -0.6403,Loss D:  0.0521
Epoch 132, Loss G: -0.5599,Loss D: -0.0019
Epoch 133, Loss G: -0.5219,Loss D: -0.1331
Epoch 134, Loss G: -0.6276,Loss D: -0.0964
Epoch 135, Loss G: -0.6462,Loss D: -0.0278
Epoch 136, Loss G: -0.4602,Loss D: -0.1317
Epoch 137, Loss G: -0.5961,Loss D: -0.1209
Epoch 138, Loss G: -0.5602,Loss D: -0.0460
Epoch 139, Loss G: -0.5122,Loss D:  0.0798
Epoch 140, Loss G: -0.5438,Loss D: -0.0547
Epoch 141, Loss G: -0.5852,Loss D: -0.0628
Epoch 142, Loss G: -0.4826,Loss D: -0.1246
Epoch 143, Loss G: -0.5964,Loss D: -0.0732
Epoch 144, Loss G: -0.5864,Loss D:  0.0158
Epoch 145, Loss G: -0.5954,Loss D: -0.0080
Epoch 146, Loss G: -0.5646,Loss D:  0.0723
Epoch 147, Loss G: -0.6154,Loss D:  0.1178
Epoch 148, Loss G: -0.5662,Loss D:  0.0834
Epoch 149, Loss G: -0.6352,Loss D:  0.0582
Epoch 150, Loss G: -0.4964,Loss D:  0.0418
Epoch 151, Loss G: -0.6275,Loss D:  0.1061
Epoch 152, Loss G: -0.6192,Loss D:  0.1166
Epoch 153, Loss G: -0.5291,Loss D: -0.0822
Epoch 154, Loss G: -0.5789,Loss D: -0.0442
Epoch 155, Loss G: -0.6362,Loss D: -0.0094
Epoch 156, Loss G: -0.5703,Loss D: -0.0832
Epoch 157, Loss G: -0.6403,Loss D:  0.0347
Epoch 158, Loss G: -0.6324,Loss D: -0.1448
Epoch 159, Loss G: -0.6606,Loss D: -0.1576
Epoch 160, Loss G: -0.7512,Loss D: -0.1402
Epoch 161, Loss G: -0.5761,Loss D: -0.0274
Epoch 162, Loss G: -0.6497,Loss D: -0.0768
Epoch 163, Loss G: -0.6167,Loss D: -0.1371
Epoch 164, Loss G: -0.5795,Loss D: -0.2447
Epoch 165, Loss G: -0.6393,Loss D: -0.0955
Epoch 166, Loss G: -0.6406,Loss D:  0.0119
Epoch 167, Loss G: -0.6516,Loss D: -0.2246
Epoch 168, Loss G: -0.6670,Loss D:  0.0159
Epoch 169, Loss G: -0.6797,Loss D:  0.0058
Epoch 170, Loss G: -0.7252,Loss D: -0.1063
Epoch 171, Loss G: -0.7296,Loss D:  0.0758
Epoch 172, Loss G: -0.7241,Loss D: -0.0745
Epoch 173, Loss G: -0.7259,Loss D: -0.0505
Epoch 174, Loss G: -0.8141,Loss D: -0.0087
Epoch 175, Loss G: -0.5840,Loss D: -0.0082
Epoch 176, Loss G: -0.6212,Loss D:  0.0777
Epoch 177, Loss G: -0.7312,Loss D: -0.1447
Epoch 178, Loss G: -0.6630,Loss D: -0.0356
Epoch 179, Loss G: -0.8323,Loss D:  0.0595
Epoch 180, Loss G: -0.6738,Loss D:  0.2216
Epoch 181, Loss G: -0.6544,Loss D: -0.1310
Epoch 182, Loss G: -0.6327,Loss D:  0.0415
Epoch 183, Loss G: -0.6478,Loss D: -0.1190
Epoch 184, Loss G: -0.7060,Loss D: -0.0091
Epoch 185, Loss G: -0.6682,Loss D: -0.1101
Epoch 186, Loss G: -0.6972,Loss D: -0.1146
Epoch 187, Loss G: -0.7194,Loss D: -0.0039
Epoch 188, Loss G: -0.7152,Loss D:  0.1869
Epoch 189, Loss G: -0.7027,Loss D:  0.0693
Epoch 190, Loss G: -0.7071,Loss D: -0.0206
Epoch 191, Loss G: -0.6006,Loss D: -0.0410
Epoch 192, Loss G: -0.6680,Loss D: -0.1432
Epoch 193, Loss G: -0.6091,Loss D: -0.0527
Epoch 194, Loss G: -0.5927,Loss D: -0.0966
Epoch 195, Loss G: -0.6208,Loss D: -0.1016
Epoch 196, Loss G: -0.7344,Loss D: -0.1598
Epoch 197, Loss G: -0.6399,Loss D: -0.0810
Epoch 198, Loss G: -0.6618,Loss D: -0.1007
Epoch 199, Loss G: -0.7312,Loss D: -0.1651
Epoch 200, Loss G: -0.6941,Loss D: -0.1409
Epoch 201, Loss G: -0.6172,Loss D: -0.1713
Epoch 202, Loss G: -0.7136,Loss D: -0.0339
Epoch 203, Loss G: -0.6989,Loss D: -0.0673
Epoch 204, Loss G: -0.6962,Loss D: -0.1692
Epoch 205, Loss G: -0.7399,Loss D: -0.0981
Epoch 206, Loss G: -0.6385,Loss D: -0.0713
Epoch 207, Loss G: -0.7401,Loss D: -0.0293
Epoch 208, Loss G: -0.8923,Loss D:  0.0616
Epoch 209, Loss G: -0.7743,Loss D: -0.0071
Epoch 210, Loss G: -0.8155,Loss D: -0.0286
Epoch 211, Loss G: -0.6735,Loss D:  0.0678
Epoch 212, Loss G: -0.8456,Loss D: -0.0086
Epoch 213, Loss G: -0.7500,Loss D: -0.0526
Epoch 214, Loss G: -0.8886,Loss D: -0.0542
Epoch 215, Loss G: -0.7644,Loss D: -0.0095
Epoch 216, Loss G: -0.8886,Loss D:  0.0873
Epoch 217, Loss G: -0.6699,Loss D: -0.0498
Epoch 218, Loss G: -0.8322,Loss D: -0.0983
Epoch 219, Loss G: -0.7794,Loss D: -0.0441
Epoch 220, Loss G: -0.8324,Loss D: -0.1192
Epoch 221, Loss G: -0.9027,Loss D: -0.0526
Epoch 222, Loss G: -0.9731,Loss D: -0.0609
Epoch 223, Loss G: -0.8711,Loss D: -0.0496
Epoch 224, Loss G: -0.7752,Loss D: -0.0974
Epoch 225, Loss G: -0.9212,Loss D: -0.0607
Epoch 226, Loss G: -0.7630,Loss D:  0.0327
Epoch 227, Loss G: -0.8879,Loss D: -0.0991
Epoch 228, Loss G: -0.8020,Loss D: -0.0536
Epoch 229, Loss G: -0.9148,Loss D: -0.1118
Epoch 230, Loss G: -0.8356,Loss D: -0.1880
Epoch 231, Loss G: -0.9112,Loss D: -0.2434
Epoch 232, Loss G: -0.7347,Loss D: -0.1396
Epoch 233, Loss G: -0.9675,Loss D: -0.0681
Epoch 234, Loss G: -0.8318,Loss D:  0.0219
Epoch 235, Loss G: -0.8370,Loss D: -0.0556
Epoch 236, Loss G: -0.8947,Loss D: -0.1322
Epoch 237, Loss G: -0.9107,Loss D: -0.2292
Epoch 238, Loss G: -0.9307,Loss D: -0.0334
Epoch 239, Loss G: -0.9147,Loss D: -0.2615
Epoch 240, Loss G: -0.9423,Loss D:  0.1513
Epoch 241, Loss G: -0.9790,Loss D:  0.0124
Epoch 242, Loss G: -0.8670,Loss D: -0.2167
Epoch 243, Loss G: -0.8873,Loss D: -0.0386
Epoch 244, Loss G: -0.8433,Loss D: -0.0400
Epoch 245, Loss G: -0.9011,Loss D: -0.0737
Epoch 246, Loss G: -1.0494,Loss D: -0.0747
Epoch 247, Loss G: -0.8860,Loss D: -0.0706
Epoch 248, Loss G: -1.0682,Loss D: -0.0792
Epoch 249, Loss G: -0.9383,Loss D:  0.0166
Epoch 250, Loss G: -0.9620,Loss D: -0.1300
Epoch 251, Loss G: -1.0060,Loss D:  0.0287
Epoch 252, Loss G: -0.8619,Loss D: -0.1287
Epoch 253, Loss G: -0.9190,Loss D: -0.2057
Epoch 254, Loss G: -0.8328,Loss D: -0.1340
Epoch 255, Loss G: -0.8012,Loss D: -0.0870
Epoch 256, Loss G: -0.9047,Loss D: -0.2000
Epoch 257, Loss G: -0.7810,Loss D:  0.0570
Epoch 258, Loss G: -0.9304,Loss D: -0.0761
Epoch 259, Loss G: -0.8547,Loss D: -0.1456
Epoch 260, Loss G: -0.8397,Loss D: -0.2840
Epoch 261, Loss G: -0.9068,Loss D: -0.1558
Epoch 262, Loss G: -0.7244,Loss D:  0.0099
Epoch 263, Loss G: -0.8612,Loss D: -0.2272
Epoch 264, Loss G: -0.6911,Loss D:  0.0357
Epoch 265, Loss G: -0.7549,Loss D: -0.0496
Epoch 266, Loss G: -0.7615,Loss D:  0.0079
Epoch 267, Loss G: -0.6686,Loss D:  0.0028
Epoch 268, Loss G: -0.7201,Loss D: -0.0124
Epoch 269, Loss G: -0.7297,Loss D: -0.1189
Epoch 270, Loss G: -0.6541,Loss D:  0.0342
Epoch 271, Loss G: -0.7051,Loss D:  0.0315
Epoch 272, Loss G: -0.6716,Loss D: -0.1517
Epoch 273, Loss G: -0.6230,Loss D: -0.1037
Epoch 274, Loss G: -0.6722,Loss D:  0.0212
Epoch 275, Loss G: -0.6363,Loss D: -0.3193
Epoch 276, Loss G: -0.8310,Loss D: -0.1978
Epoch 277, Loss G: -0.6438,Loss D:  0.0092
Epoch 278, Loss G: -0.6311,Loss D: -0.0883
Epoch 279, Loss G: -0.7388,Loss D: -0.1185
Epoch 280, Loss G: -0.7186,Loss D: -0.2120
Epoch 281, Loss G: -0.7382,Loss D: -0.2034
Epoch 282, Loss G: -0.7918,Loss D: -0.2199
Epoch 283, Loss G: -0.8672,Loss D:  0.0073
Epoch 284, Loss G: -0.7496,Loss D: -0.1124
Epoch 285, Loss G: -0.7835,Loss D: -0.3225
Epoch 286, Loss G: -0.7172,Loss D: -0.1958
Epoch 287, Loss G: -0.5843,Loss D: -0.0261
Epoch 288, Loss G: -0.6637,Loss D: -0.2281
Epoch 289, Loss G: -0.7233,Loss D: -0.0135
Epoch 290, Loss G: -0.5765,Loss D: -0.0467
Epoch 291, Loss G: -0.8154,Loss D: -0.0963
Epoch 292, Loss G: -0.6221,Loss D: -0.0787
Epoch 293, Loss G: -0.4978,Loss D: -0.0094
Epoch 294, Loss G: -0.7863,Loss D: -0.0385
Epoch 295, Loss G: -0.7268,Loss D: -0.0958
Epoch 296, Loss G: -0.6792,Loss D: -0.0352
Epoch 297, Loss G: -0.8178,Loss D: -0.0432
Epoch 298, Loss G: -0.7992,Loss D: -0.0189
Epoch 299, Loss G: -0.7346,Loss D: -0.0123
Epoch 300, Loss G: -0.7339,Loss D:  0.1413

In [71]:
sampled_data = ctgan.sample(1000)

#print(sampled_data.head())

In [72]:
sampled_data.shape

(1000, 24)

In [73]:
X_sampled_data = sampled_data.drop(['address'],axis =1)
X_sampled_data.shape

Y_sampled_data = sampled_data['address']
Y_sampled_data.shape

(1000,)

In [74]:
x_train, x_test, y_train, y_test = train_test_split(X_sampled_data, Y_sampled_data, test_size = 0.30)

from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(x_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE SAMPLED MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE SAMPLED MODEL:  0.9433333333333334

### Checking performance of model

In [75]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from numpy import mean
from numpy import std

cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = RandomForestClassifier(n_estimators =100)
# evaluate model
scores = cross_val_score(model, X_data, Y_data, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Original Data')
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Original Data
Accuracy: 0.742 (0.087)

In [76]:


cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = RandomForestClassifier(n_estimators =100)
# evaluate model
scores = cross_val_score(model, X_data_reduced, Y_data_reduced, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Extremely small sized Data')
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Extremely small sized Data
Accuracy: 0.900 (0.153)

In [77]:


cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = RandomForestClassifier(n_estimators =100)
# evaluate model
scores = cross_val_score(model, X_sampled_data, Y_sampled_data, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Sampled/generated Data')
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Sampled/generated Data
Accuracy: 0.933 (0.026)